{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style>
    #changebackground{
        background-color: #070708 !important;
      }
    .scroll-bar{
                position: absolute;
                overflow-y: scroll;
                overflow-x: hidden;
                height :300px;
            }
    .duelData{
      display: none;
    }
    .text-primary,{
      color : #E84852 !important;
    }
    #saveTVInfo{
      background: #E84852 !important;
      border: none;
    }
  </style>
  <title>Create TV</title>
</head>

<body>
  <!-- nav bar -->
    <div class="fixed-top">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="changebackground">
              <a class="navbar-brand" href="{% url 'movies:index' %}"><img width="300px" src="{% static 'images/logo.png' %}" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto p-3">
                      <li class="nav-item nav-item dropdown">
                          <a class="nav-link nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Movies</span></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'movies:addmovies' %}">Upload Movie</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'movies:updatemovie' %}">Update Movie</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'deletemovie:deleteMovies' %}">Delete Movie</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'movies:manualmovieupload' %}">Manual Upload</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'movies:searchmovies' %}">Search Movie</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'movies:possiblesearch' %}">Possible Search</a>
                          </div>
                      </li>
                      <li class="nav-item nav-item dropdown">
                          <a class="nav-link nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">TV</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'TV:addTV' %}">Create TV</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'TV:createseason' %}">Create Season</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'TV:uploadepisode' %}">Upload Episode</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Update TV</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'TV:updateepisode' %}">Update Episode</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'TV:manualaddtv' %}">Create Manual TV</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'TV:createmanualseason' %}">Create Manual Season</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'TV:uploademanualepisode' %}">Create Manual Episode</a>
                              <div class="dropdown-divider"></div>

                          </div>
                      </li>
                      <li class="nav-item nav-item dropdown">
                          <a class="nav-link nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Software</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="../pages/Upload_Software.html">Upload Software</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="../pages/Update_Delete_Software.html">Update/Delete
                                  Software</a>
                          </div>
                      </li>

                      <li class="nav-item nav-item dropdown">
                          <a class="nav-link nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Games</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="../pages/UploadGames.html">Upload Games</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="../pages/Update_Delete_Games.html">Update/Delete Games</a>
                          </div>
                      </li>

                      <li class="nav-item nav-item dropdown">
                          <a class="nav-link nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false" href="#">Setting</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="../pages/Backup_reset.html">Reset & Backup</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="../pages/Uncatagorized_List.html">Uncatagorized List</a>
                          </div>
                      </li>

                      <li class="nav-item nav-item dropdown">
                          <a class="nav-link nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="far fa-user-circle mr-1"></i>Admin</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'movies:userlogout' %}">Logout</a>
                              {% else %}
                                <a class="dropdown-item" href="{% url 'movies:userlogin' %}">Login</a>
                              {% endif %}
                              <!-- <a class="dropdown-item" href="../pages/Logout.html">Log Out</a> -->
                          </div>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-primary ml-3 pt-5 mt-5"><b>Update TV Info</b></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="container">
          {% include 'partials/_alerts.html' %}
        </div>
        <form class="p-3 bg-light" method='GET' enctype="multipart/form-data" id = "searchForm">
          {% csrf_token %}
          <div class="form-row align-items-center">
            <div class="col-sm-3">
              <label class="" for="inlineFormInput" name="titleForMovieLebel">TV title</label>
              {% if form %}
                {{ form.TV_title }}
              {% else %}
                {{ dict.TV_title }}
              {% endif %}
              <!-- <input type="text" class="form-control p-2" id="inlineFormInput" placeholder="Enter TV title" name="titleForTV" value="" required> -->
            </div>

            <div class="col-sm-2">
              <label class="" for="inlineFormInput" name="yearForTVLebel">Year</label>
              {% if form %}
                {{ form.year }}
              {% else %}
                {{ dict.year }}
              {% endif %}
              <!-- <input type="text" class="form-control p-2" id="inlineFormInput" placeholder="Year" name="yearForTV" value="" > -->
            </div>


            <div class="col-sm-2">
              <label class="" for="inlineFormInputGroup" name="IDForTVLebel" > TV ID</label>
                {% if form %}
                  {{ form.TV_id }}
                {% else %}
                  {{ dict.TV_id }}
                {% endif %}
              <!-- <input type="text" class="form-control p-2" id="inlineFormInputGroup" placeholder="ID" name="IDForTV" value=""> -->
            </div>



            <div class="col-sm-1 text-center mt-4 pt-2">
              <button type="submit" class="btn btn-primary" id="search_btn" name="search" >Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- TV Detail Section  -->
    <!-- section 2.1  -->
    <div class="row mt-4">
      <div class="col-sm-8">
        <form class="p-3 bg-light" name='uploadform' id = "submitForm"method='POST' enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-row align-items-center p-3">
            <div class="col-sm-3">
              <label class="" for="inlineFormInput" name="titleForTVLebel">Rating</label>
              {% if form %}
                {{ form.rating }}
              {% else %}
                {{ dict.rating }}
              {% endif %}
            </div>
            <div class="col-sm-3">
              <label class="" for="inlineFormInput" name="titleForTVLebel">Genre</label>
              {% if form %}
                {{ form.genre }}
              {% else %}
                {{ dict.genre }}
              {% endif %}
            </div>
            <div class="col-sm-6">
              <label class="" for="inlineFormInput" name="titleForTVLebel">No. Of Seasons</label>
              {% if form %}
                {{ form.numberOfSeason }}
              {% else %}
                {{ dict.numberOfSeason }}
              {% endif %}
            </div>
          </div>
            <!-- section 2.2  -->

          <div class="form-row align-items-center p-3">
            <div class="col-sm-3">
              <label class="" for="inlineFormInput" name="titleForTVLebel">Writer</label>
              {% if form %}
                {{ form.writer }}
              {% else %}
                {{ dict.writer }}
              {% endif %}
            </div>

            <div class="col-sm-4">
              <label class="" for="inlineFormInput" name="titleForTVLebel">API name</label>
              {% if form %}
                {{ form.API_name }}
              {% else %}
                {{ dict.API_name }}
              {% endif %}
            </div>

            <div class="col-sm-5">
              <label class="" for="inlineFormInput" name="titleForTVLebel">Cast</label>
              {% if form %}
                {{ form.cast }}
              {% else %}
                {{ dict.cast }}
              {% endif %}
            </div>
          </div>


          <div class="form-row align-items-center p-3">
            <div class="col-sm-12">
              <label class="" for="inlineFormInput" name="tvtimeline">TV Timeline</label>
              {% if form %}
                {{ form.TV_timeline }}
              {% else %}
                {{ dict.TV_timeline }}
              {% endif %}
            </div>
          </div>

          <div class="form-group p-1 m-3">
            <label class="" for="inlineFormInput" name="titleForTVLebel">Plot</label>
            {% if form %}
              {{ form.plot }}
            {% else %}
              {{ dict.plot }}
            {% endif %}
          </div>

          <!-- python form test -->

            <div class="form-group p-1 m-3">
                <label class="" for="inlineFormInput" name="titleForTVLebel">Destination Location</label>
                {% if form %}
                  {{ form.destination_location }}
                {% else %}
                   {{destination}}
                {% endif %}
                <!-- <input name="uploadTVFile" value="" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" required> -->
            </div>



            <div class="form-row container mt-4">

              <div class="ml-4 mt-2">

                {% if form %}
                    <p>Add to Feature List: {{ form.is_featured }} </p>
                {% else %}
                      <p>Add to Feature List: {{ dict.is_featured }} </p>
                {% endif %}
              </div>


              <div class="ml-4 form control">
                <label class="" for="inlineFormInputGroup" name="titleForTVLebel"></label>
                <button type="submit" id="saveTVInfo" class="btn btn-info">Save</button>
              </div>
            </div>

          </div>
          <div class="col-sm-4 text-center">
            {% if poster %}
              <img src={{poster}} alt="image" height="390px" width="261px">
            {% else %}
              <img src="{% static 'images/no-image.png' %}" id="poster_path" alt="image" height="390px" width="261px">
            {% endif %}
            <div>
                <br><br>
                <p>{{form.poster_path}}</p>( Manual Poster upload )
            </div>
      </div>
    </div>
    </form>
    <div class="container">
      <br><br>
    </div>



    <!-----------------------------------Possible Match-------------------------->


  {% block javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
  <script type="text/javascript">
    // Get data from server
      $(document).ready(function(e){
          $("#search_btn").click(function(e){
            e.preventDefault();
            $.ajax({
              type: 'GET',
              url: '/TVs/update_tv/',
              data: {

                TV_id : $("#id_TV_id").val(),
                year : $("#id_year").val(),
                TV_title : $("#id_TV_title").val(),
                poster_path: $("#poster_path").attr('src'),
                category: $("[name='categoryForTV'] option:selected").text(),
                btnclicked: 'searchbtn',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

              },


              success: function(gotIt,status){
                var data =  JSON.parse(gotIt['queryset']);
                data = data[0]
                // url = data.fields.poster_path
                // url = url.replace('/','\\');
                console.log(data.fields.poster_path);

                $("#id_TV_id").val(data.pk)
                $("#id_year").val(data.fields.year)
                $("#id_TV_title").val(data.fields.TV_title)
                $("#id_rating").val(data.fields.rating)
                $("#id_writer").val(data.fields.writer)
                $("#id_numberOfSeason").val(data.fields.numberOfSeason)
                $("#id_cast").val(data.fields.cast)
                $("#id_plot").val(data.fields.plot)
                $("#id_API_name").val(data.fields.API_name)
                $("#id_genre").val(data.fields.genre)
                $("#id_destination_location").val(data.fields.destination_location)
                $("#id_TV_timeline").val(data.fields.TV_timeline)
                $("#poster_path").attr("src", data.fields.poster_path +"?timestamp=" + new Date().getTime());
                $("#id_is_featured").prop("checked", data.fields.is_featured);
              },
              error : function(){
                alert('No Data Fetched due to an eror');
              }
            })
          });
        });

   </script>

 <script>
    $(document).ready(function(e){
      $("#saveTVInfo").click(function(e){
        e.preventDefault();
        var formData = new FormData();
        isFeatureds = "False"
        if ($('#id_is_featured').is(":checked")){
          isFeatureds = "True"
        }

        formData.append(  'manualImageFile', $("#id_poster_path")[0].files[0] );
        formData.append(  'TV_id', $("#id_TV_id").val());
        formData.append(  'TV_title', $("#id_TV_title").val());
        formData.append(  'year', $("#id_year").val());
        formData.append(  'category', $("[name='categoryForTV'] option:selected").text());
        formData.append(  'rating', $("#id_rating").val());
        formData.append(  'noOfSeason', $("#id_numberOfSeason").val());
        formData.append(  'genre',  $("#id_genre").val());
        formData.append(  'writer', $("#id_writer").val());
        formData.append(  'API_name',$("#id_API_name").val());
        formData.append(  'cast', $("#id_cast").val());
        formData.append(  'plot', $("#id_plot").val());
        formData.append(  'TV_timeline', $("#id_TV_timeline").val());
        formData.append(  'destination_location', $("#id_destination_location").val());
        formData.append(  'poster_path', $("#poster_path").attr('src'));
        formData.append(  'isFeatured', isFeatureds );
        formData.append(  'btnclicked', 'uploadandconvert');
        formData.append(  'csrfmiddlewaretoken', '{{ csrf_token }}');

        $.ajax({
          type: 'POST',
          url: '/TVs/update_tv/',
          data: formData,
          processData: false,
          contentType: false,
          success: function(gotIt,status){
            alert("Data Saved Successfully to the FTP")
            $('#searchForm')[0].reset();
            $('#submitForm')[0].reset();
          },
          error : function(){
            alert('Something is Wrong with the server');
          }
        })
      });
    });

   </script>


{% endblock %}
</body>

</html>
